<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Server-side rendering</title>
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
<div id="root"></div>
<div id="app"></div>
<div id="here"></div>
<div id="tick"></div>
<div id="welcome"></div>
<div id="clock"></div>
<hr>
<div id="btnTest"></div>
<script src="bundle.js"></script>
</body>
</html>